<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="https://cdn.tailwindcss.com"></script>
   <style>
      @import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&family=Changa:wght@200;300;400;500;600;700&family=Philosopher&family=Playfair+Display:wght@400;500;600;700&family=Roboto+Mono:wght@300;400;500;700&family=Roboto+Slab:wght@300;400;500&display=swap');
   </style>
   <style>
      body{
         font-family: 'Chakra Petch', sans-serif;
         font-family: 'Changa', sans-serif;
         font-family: 'Philosopher', sans-serif;
         font-family: 'Playfair Display', serif;
         font-family: 'Roboto Mono', monospace;
         font-family: 'Roboto Slab', serif;
      }
   </style>
   <title>Sign In</title>
</head>
<body class="bg-slate-200">
   <div class="border border-red-200 bg-gray-100 rounded-3xl shadow-xl md:w-5/12 w-11/12 mx-auto px-16 py-12 mt-24">
      <p class="mb-6 text-zinc-600 font-bold text-3xl text-center mb-4">Sign In</p>
      <div class="flex flex-col">
         <input type="email" placeholder="Email" id="Em" class="form-cotrol mb-4 md:py-3 py-2 px-4 focus:outline-0 border border-green-800   rounded-md">
         <input type="password" placeholder="Password" id="Pw" class="form-cotrol mb-4 md:py-3 py-2 px-4 focus:outline-0 border border-green-800     rounded-md">
         <div class="flex gap-2">
            <input type="checkbox" name="" id="" class="form-cotrol">
            <p>Remember me</p>
         </div>
      </div>
         <div class="w-64 mx-auto py-4">
            <button onclick="signUp()" class="bg-rose-900 hover:bg-rose-800 transition hover:transition duration-500 delay-150 w-64 py-3 text-white   rounded">SUBMIT</button>
         </div>
         <div class="flex gap-2 justify-center">
            <p>Don't have a account yet?</p>
            <a href="#" class="text-blue-600 focus:text-purple-500">Sign Up</a>
         </div>
   </div>
</body>
</html>